/*===================================== General ==========================================*/
body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
body > .container{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body .sidebar{
	z-index: 9;
    width: 7%;
    display: inline-block;
    height: 100%;
    position: fixed;
    background-color: #303E4D;
    border-radius: 0;
}

body input[type="text"],
body input[type="password"],
body input[type="email"],
body input[type="number"],
textarea, select {
	border-radius: 12px !important;
}

body .navbar-inverse .navbar-nav > .active > a, 
body .navbar-inverse .navbar-nav > .active > a:hover, 
body .navbar-inverse .navbar-nav > .active > a:focus{
	 background-color: transparent;
}
.navbar-header img {
	display: none;
}
.page-content, .banner-top{
	margin-left: 10%;
    position: relative;
    width: 88%;
    display: inline-block;
}
.page-content{
    margin-bottom: 100px !important;
}
.page-content.home{
	border-radius: 12px;
    background-color: #ecf0f1;
    padding: 25px;
    min-height: 80%;
}
.page-content.home .pull-right{
	bottom: 0;
    position: absolute;
    margin: 15px 25px 25px 15px;
    right: 0;
}
.page-content .btn-primary{
	border-radius: 20px;
    margin-bottom: 15px !important;
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
}
.page-content .btn-primary:hover{
	background-color: #fff;
	color: #337ab7;
	transition-duration: 300ms;
	transition-property: background;
}
.page-content input[type="search"]{
    box-shadow: none;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-content select{
	padding: 3px 0 3px 5px;
}
#example_wrapper table{
	margin-bottom: 10px;
}
.banner-top{
	margin-bottom: 30px;
}

table .btn-warning{
	border: none;
    background: transparent;
    color: #eea236;
    font-size: 15px;
}
table .btn-danger{
	border: none;
    background: transparent;
    color: #d43f3a;
    font-size: 15px;
}
table .btn-info{
	border: none;
    background: transparent;
    color: #5bc0de;
    font-size: 15px;
}
.page-content table .td-action, .page-content table .td-status{
	text-align: center;
}
.page-content .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.page-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: white !important;
    font-weight: 600; 
    background: black;
    border-radius: 20px;
}
.page-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color: black !important;
    background: white;
    border: 1px solid #111;
    border-radius: 20px;
}

.page-content.edit-profile{
	border-radius: 12px;
    background-color: #ecf0f1;
    padding: 25px;
}
.page-content.edit-profile form{
	text-align: center;
	max-width: 1000px;
}
.page-content.edit-profile form label{
	text-align: right;
}
.page-content.edit-profile form .col-sm-9{
	max-width: 60%;
}
.page-content.edit-profile form button{
	width: 35%;
}
nav .container-fluid{
	padding: 0;
}
#navbar-custome ul li{
	padding: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

#navbar-custome ul li a{
	display: inline-block;
	padding: 0;
	font-size: 12px;
	color: rgb(183,187,193);
	line-height: 1.5;
}
#navbar-custome {
	padding:15px 0;
}
#navbar-custome > .navbar-nav > li {
	padding: 15px 0;
}

#navbar-custome > .navbar-nav > li:hover {
	background-color: #4d6fbf;
}

#navbar-custome > .navbar-nav > li a:hover {
	color: white;
}

nav .fas{
	display: block;
}

nav .fas::before{
	font-size: 2.5rem;
	display: block;
	margin-bottom: 3px;
}
nav .user-session{
	text-align: center;
	color: #fff;
    padding: 15px 0;
    display: block;
    bottom: 0;
    position: absolute;
}
nav .user-session::before{
	margin: auto;
    display: block;
    content: "";
    width: 85%;
    border-top: 1px solid #fff;
    top: 0;
    margin-bottom: 25px;
}

.user-session .fa-user-circle::before{
	font-size: 6rem;
	margin-bottom: 10px;
}
#navbar-custome ul .admin-info{
	margin-bottom: 10px;
}
#navbar-custome ul .setting,#navbar-custome ul .logout{
	border-top: 1px solid;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
#navbar-custome ul .setting a,#navbar-custome ul .logout a{
	line-height: initial;
    padding-top: 8px;
}
ul.navbar-right{
	margin-right: 0;
}
#navbar-custome ul li .dropdown-menu-kabag{
	padding: 10px 0;
	margin: 0;
}
#navbar-custome ul li .dropdown-menu-kabag li{
	padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px solid beige;
}
#navbar-custome ul li .dropdown-menu-kabag a{
	font-size: 9px;
}
footer{
	bottom: 0;
    background: #1c1c1c;
    border-top: 5px solid #000;
    position: fixed;
    z-index: 0;
    width: 100%;
    margin-top: 90px;
}


.need-help{margin-top:10px;}

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.title{
	font-size:18px;
	background:#e3e3e3;
	padding:10px;
	border-bottom:2px solid #1c1c1c;
}

.paragraph{
	margin:3px 15px;
}

.btn-default{
	background-color:#a86800;
	color:#000;
	border:1px solid #000;
}

.cari{
	background-color:#282828;
	border:1px solid #000;
}

/*===================================== login ==========================================*/
.body-login{ 
	background-image: url("../images/bg-stta.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.body-login::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.6;
}
.body-login .row > div {z-index: 3;}
.body-login footer{ display: none; }
.body-login .profile-img{
	width:106px;
	height:116px;
	display:block;
	margin:0 auto 10px;
}
.body-login .account-wall{
	margin-top:100px;
	background-color:#f7f7f7;
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);
	box-shadow:0 2px 2px rgba(0,0,0,0.3);
	padding-bottom: 20px;
	border-radius: 20px;
}
.body-login .form-top{
	position: relative;
	top: -45px;
}
.body-login .form-top img{
	height: 116px;
	display: block;
	margin: 0 auto 10px;
	width: auto;
}
.body-login .account-wall button{
	display: block;
    width: 50%;
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
}
.body-login .account-wall .btn-primary:hover{
	background-color: #fff;
	color: #337ab7;
	transition-duration: 300ms;
	transition-property: background;
}
.body-login .login-title{
	color:#555;
	font-size:23px;
	font-weight:bold;
	display:block;
}
.body-login .small-title {
	width: 100%;
    text-align: center;
    display: block;
}
.body-login .alert{
	text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px 15px;
}

.new-account{
	display:block;
	margin-top: 20px;
    color: #f5f5f5;
}
.new-account:hover, .new-account:focus{
	color: #d0e9ff;
    text-decoration: underline;
}
.form-signin{
	width: 90%;
	margin:0 auto;
	padding:15px;
}
.form-signin .form-signin-heading,.form-signin .checkbox{margin-bottom:10px;}
.form-signin .checkbox{font-weight:normal;}
.form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}




/*===================================== Responsive =======================================================*/
/* Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {

	nav #navbar-custome > .navbar-nav > li > a {
		font-size: 0;
	}

	.user-session .fa-user-circle::before{
		font-size: 5rem;
	}
}
/* Mobile */
@media only screen and (max-width : 767px) {
	body > .container{
		margin-top: 60px;
	}
	nav .fas{
		display: inline-block;
	}

	.banner-top, .page-content{
		margin: auto;
		display: block;
		width: 90%
	}	
	#example_wrapper{
		padding-top: 10px;
	}
	.container nav .navbar-header{
		position: fixed;
	    width: 100%;
	    margin: 0;
	    background-color: #303E4D;
	    top: 0;
	}

	.container nav{
		width: 0;
    	left: -2px;
    	webkit-transition: width 0.3s;
   		-moz-transition: width 0.3s;
    	-ms-transition: width 0.3s;
    	transition: width 0.3s;
	}

	#navbar-custome, .navbar-nav, #navbar-custome .user-session{
		visibility: hidden;
	}

	#navbar-custome{
		margin: 0;
	}

	.container nav.open-nav {
		width: 80%;
		height: 100%;
    	top: 0;

	}

	.container nav.open-nav #navbar-custome,
	.container nav.open-nav .user-session,
	.container nav.open-nav .navbar-nav{
		visibility: visible !important;
		width: 100%;
	}

	#navbar-custome > ul > li {
		border-bottom: 1px solid white;
	}

	#navbar-custome ul li a {
		font-size: 12px;
	}

	.dropdown-menu-kabag{
		display: block !important;
		height: 45px !important;
	}

	.dropdown-kabag .show-icon, .dropdown-kabag .hide-icon{
		display: none !important;
	}
	.dropdown-kabag > a{
		margin-bottom: 10px;
	}
	#navbar-custome ul li .dropdown-menu-kabag{
		border-top:1px solid white;
	}

	#navbar-custome .dropdown-kabag .dropdown-menu-kabag > li {
		width: 48%;
    	border-top: 0;
    	display: inline-block;
	}

	#navbar-custome > .navbar-nav .dropdown-kabag{
		padding-bottom: 0;
	}

	nav .user-session::before{
		display: none;
	}
	.user-session .fa-user-circle{
		margin-right: 20px;
	}

	.menu-on .page-content::after{
		display: block;
	}

	.page-content::after{
		content: "";
    	background: black;
    	display: none;
    	width: 100%;
    	height: 100%;
    	position: fixed;
   		top: 0px;
    	opacity: 0.5;
	}
	.navbar-header img {
		width: 40px;
    	margin: 5px 5px 5px 18px;
    	visibility: visible;
    	display: inline-block;
    }

	.menu-on .navbar-header img {
		visibility: hidden;
	}
	.page-content.edit-profile form label{
		width: 100%;
    	text-align: left;
    	margin-left: 10px;
	}
	.page-content.edit-profile form .col-sm-9{
		max-width: 100%;
	}
	.page-content.edit-profile form button{
		width: 35%;
	}
	table .btn-info{
		margin: 10px;
	}
}